body {
  font-family: 'Open Sans', sans-serif!important;
}

.navbar-brand img {
  max-height: 40px;
}

#logo-text {
  max-height: 20px;
}

.bg-primary-isidore {
  background-color: #093F5D!important;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}

.flex-justify-content {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

section.jumbotron {
  width: 100%; /* Ensure jumbotron takes full width */
}

.entry {
  width: 100%; /* Ensure flex container takes full width */
  min-height: 70vh;
  background-image: url('../images/isidore_short.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.entry::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  min-height: 40vh;
}

.container-content {
  width: 100%; /* Ensure row takes full width */
  position: relative;
  z-index: 2;
}